.outer-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.container_fire {
    width: 300px;
    height: 600px;
    padding: 16px;
    background: #dd7e6b;
    border: 4px solid indigo;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.container_water {
    width: 300px;
    height: 600px;
    padding: 16px;
    background: #3c78d8;
    border: 4px solid indigo;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.container_thunder {
    width: 300px;
    height: 600px;
    padding: 16px;
    background: #bf9000;
    border: 4px solid indigo;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.container_wind {
    width: 300px;
    height: 600px;
    padding: 16px;
    background: #6aa84f;
    border: 4px solid indigo;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.container_light {
    width: 300px;
    height: 600px;
    padding: 16px;
    background: #d9d9d9;
    border: 4px solid indigo;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.container_dark {
    width: 300px;
    height: 600px;
    padding: 16px;
    background: #8e7cc3;
    border: 4px solid indigo;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
  
.item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
}